body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #00ff73
    color: #ff3700;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #c70000;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
  }
  
  section {
    padding: 20px;
  }
  
  footer {
    background-color: #bbbaba;
    color: #000000;
    text-align: center;
    padding: 10px 0;
  }
