body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #333; 
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

h1, h2 {
  margin: 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tecnologias-section {
  margin-bottom: 20px;
}

#tecnologias-lista {
  display: grid;
  gap: 20px;
}

.tecnologia-card {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tecnologia-card h3 {
  margin-top: 0;
}

.tecnologia-card p {
  margin-bottom: 10px;
}
.imagens{
  width: 600px;
}
h2{
  color:grey
}